<div class="column gap-1 wrapper">
  <img [src]="product.image" alt="Product thumbnail" />
  <h2 class="title">{{ product.name | truncateName }}</h2>
  <div class="row gap-05">
    <span class="price-label">Price : </span>
    <span class="price">{{ product.price | price }}</span>
  </div>
  <p-rating
    [(ngModel)]="product.rating"
    [readonly]="true"
    iconCancelClass="hidden"
  />
  <div class="row gap-05">
    <button
      pButton
      icon="pi pi-pencil"
      label="Edit Product"
      (click)="editProduct()"
    ></button>
    <button
      pButton
      icon="pi pi-trash"
      label="Delete Product"
      class="p-button-danger"
      (click)="confirmDelete()"
      #deleteButton
    ></button>
  </div>
</div>

<p-confirmPopup></p-confirmPopup>
